---
import Profile from "./Profile"
import LikeIcon from "./icons/LikeIcon.astro"
import CommentIcon from "./icons/CommentIcon.astro"

const { post } = Astro.props

console.log(post)
---
<div
  class='border-stone-950 border bg-stone-900 rounded-lg min-h-40 w-full max-w-[578px] flex p-4 '
>
<div class="flex w-full h-full flex-col gap-2">
    <div class="flex flex-row gap-4">
        <Profile client:load src="https://i.natgeofe.com/n/548467d8-c5f1-4551-9f58-6817a8d2c45e/NationalGeographic_2572187_square.jpg"/>
        <div class="flex flex-col">
        <span>{post.users.username}</span>
        <span>"Full Stack Developer"</span>
        </div>
    </div>
    <div class="flex flex-col mt-2">
    <span>{post.title}</span>
    <span>{post.description}</span>
    </div>
    <div class="flex flex-row gap-8">
        <div class="flex gag-1">
            <LikeIcon>
        </div>
        <div class="flex gag-1">
            <CommentIcon/>
        </div>
    </div>
</div>
</div>
